/*body {*/
/*    min-height: 100vh; !*ensures the body covers at least the full height of the viewport*!*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.container { !*container for main content*!*/
/*    flex: 1;*/
/*}*/

/*.footer {*/
/*    margin-top: auto; !*pushes footer to the bottom of the page*!*/
/*}*/

/*.member-card {*/
/*    margin-bottom: 20px;*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.resource-card {*/
/*    min-height: 150px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    text-align: center;*/
/*}*/

/*.form-container {*/
/*    max-width: 600px;*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*}*/


/*!*style and color changes:*!*/

/*.navbar {*/
/*    background-color: #b9a0e3 !important; !*!important -> overrides Bootstrap styling*!*/
/*}*/

/*.navbar a.nav-link { !*links in the navigation bar*!*/
/*    color: #000080 !important;*/
/*}*/

/*.navbar a.nav-link:hover {*/
/*    color: lightblue !important;*/
/*}*/

/*.navbar-brand { !* Styling for the brand name in the navbar *!*/
/*    color: #000080 !important;*/
/*    font-size: 1.5em;*/
/*    font-weight: bold;*/
/*}*/

/*.navbar-logo { !*logo image in the navbar*!*/
/*    width: 8vh;*/
/*    height: auto;*/
/*    vertical-align: middle;*/
/*    margin-right: 10px;*/
/*}*/

/*!*custom buttons*!*/
/*.btn-primary {*/
/*    background-color: #b9a0e3 !important;*/
/*    color: #000080 !important;*/
/*    border-color: #b9a0e3 !important;*/
/*}*/

/*.btn-secondary {*/
/*    background-color: #000080 !important;*/
/*    color: #b9a0e3 !important;*/
/*    border-color: #000080 !important;*/
/*}*/

/*.btn-secondary:hover {*/
/*    color: lightblue !important;*/
/*    background-color: #19195a !important;*/
/*}*/

/*.btn-primary:hover {*/
/*    color: lightblue !important;*/
/*    background-color: mediumpurple !important;*/
/*}*/


/*.btnprimary {*/
/*    color: mediumpurple;*/
/*}*/

/*.btnprimary:hover {*/
/*    color: #000080;*/
/*}*/

/*.btndanger {*/
/*    color: hotpink;*/
/*}*/

/*.btndanger:hover {*/
/*    color: red;*/
/*}*/

/*.btn-darkmode { !*dark mode / light mode button -> the one that activates the styles*!*/
/*    color: #000080 !important;*/
/*}*/

/*!*end of custom buttons*!*/

/*.custom-dropdown {*/
/*    background-color: #b79fed;*/
/*}*/

/*.custom-textbox { !*search textbox*!*/
/*    background-color: #b79fed;*/
/*}*/

/*.custom-textbox::placeholder {*/
/*    color: #000080;*/
/*    opacity: 60%;*/
/*}*/

/*.text-color-custom { !*text color within the textbox*!*/
/*    color: #000080;*/
/*}*/

/*.feedback-textbox { !*feedback from the events and mentorship pages*!*/
/*    width: 800px !important;*/
/*    max-width: 100%;*/
/*}*/

/*!*end of style and color changes:*!*/


/*!*dark mode:*!*/
/*body.dark-mode {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*body.dark-mode .card-body {*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/

/*body.dark-mode .footer {*/
/*    background-color: #353535 !important;*/
/*    color: white;*/
/*}*/

/*body.dark-mode .jumbotron { !*this is the "Welcome to Women Techpower Platform card; matches the style of the footer*!*/
/*    background-color: #353535;*/
/*    color: white;*/
/*}*/

/*body.dark-mode .btnprimary:hover {*/
/*    color: #18d4f4;*/
/*}*/

/*body.dark-mode .text-color-custom {*/
/*    color: #b79fed;*/
/*}*/
/*!*end of dark mode*!*/



/*!*simple animations for members' cards on hover*!*/
/*.member-card:hover {*/
/*    box-shadow: 0px 0px 15px #000080;*/
/*}*/

/*body.dark-mode .member-card:hover {*/
/*    box-shadow: 0px 0px 15px #18d4f4;*/
/*}*/
/*!*end of simple animations for members' cards on hover*!*/



/*!*details_member and details_job styling*!*/
/*.details-table th {*/
/*    text-align: left;*/
/*    padding: 10px;*/
/*    width: 30%;*/
/*    vertical-align: top;*/
/*}*/

/*.details-table td {*/
/*    text-align: left;*/
/*    padding: 10px 20px;*/
/*    font-weight: normal;*/
/*}*/
/*!*end of details_member and details_job styling*!*/

/*styling for body*/
body {
    background-color: black !important;
    color: white !important;
}

.navbar.bg-light {
    background-color: #b9a0e3 !important; /*!important -> overrides Bootstrap styling*/
}

.btn-primary {
    background-color: #b9a0e3 !important;
    color: #000080 !important;
    border-color: #b9a0e3 !important;
}

.btn-primary:hover {
    color: lightblue !important;
}

.btn-secondary {
    background-color: #000080 !important;
    color: #b9a0e3 !important;
    border-color: #000080 !important;
}

.btn-secondary:hover {
    color: lightblue !important;
}

.relative.inline-flex {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}

table {
    border-spacing: 15px 10px;
    border-collapse: separate;
}

td, th {
    padding: 10px 20px;
}

svg {
    width: 20px;
    height: 20px;
}
